# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0joblib==1.4.2
docker==7.1.0
numpy==1.26.4
scikit-learn==1.8.0
pandas==3.0.1
boto3==1.42.54
sagemaker==3.8.0
